{% extends 'en/base.html' %}

{% block title %} {{query}} {% endblock title %}

{% block content %}

<style>
    body{
        /* background-image: url(https://static.vecteezy.com/system/resources/previews/002/746/681/non_2x/grey-wall-as-a-background-texture-free-photo.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    @media screen and (max-width: 820px) and (min-width: 600px){
        .text-center{
            text-align: center;
        }
    }
    @media screen and (max-width: 600px) and (min-width: 100px){
        .text-center{
            text-align: center;
            font-size: 20px
        }
    }
</style>

<main>
    <div class="container">
        <div class="main-container">
            <h1 class="text-center" style="text-align: center; display: block; padding-top: 80px;">Results for "{{query}}"</h1>
            <div class="main-div-box">
                {% for market in search_obj %}
                    {% if market.group_lang == 'en' %}
                    <div class="main-div">
                        {% if market.photo.url != null %}
                        <div style="width: 100%; height: 290px;">
                            <a href="{% url 'en_market_detail' market.pk %}" style="color: black; text-decoration: none;"><img style="width: 100%; height: 100%; border-radius: 10px;" src="{{market.photo.url}}" alt=""></a>
                        </div>
                        {% endif %}
                        <h4 style="margin-top: 10px;">Name: {{market.title}}</h4>
                        <p>Country: {{market.country}}</p>
                        <p>Brand: {{market.rangi}}</p>
                        <p>Condition: {{market.holati}}</p>
                        <span>Price: {{market.body}}</span>

                        <div style=" margin-left: 210px; margin-top: -41px; width: 70px; display: flex;">
                            <a href="{% url 'en_kimdirda' market.id %}" style="margin-left: 40px;">
                                {% if market.sklad %}
                                <img class="img_minus" src="../../media/images/minus-sign-icon-free-png.webp" alt="minus" style="width: 31px ; height: 31px; border: none; margin-left: 5px; margin-top:2px;">
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 48 48">
                                    <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                                    <path fill="#fff" d="M21,14h6v20h-6V14z"></path>
                                    <path fill="#fff" d="M14,21h20v6H14V21z"></path>
                                </svg>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for market in search_objsa %}
                    {% if market.group_lang == 'en' %}
                    <div class="main-div">
                        {% if market.photo.url != null %}
                        <div style="width: 100%; height: 300px;">
                            <a href="#" style="color: black; text-decoration: none;"><img style="width: 100%; height: 100%; border-radius: 10px;" src="{{market.photo.url}}" alt=""></a>
                        </div>
                        {% endif %}
                        <h4 style="margin-top: 10px;">Name: {{market.title}}</h4>
                        <p>Condition: {{market.holati}}</p>
                        <span>Price: {{market.body}}</span>
                        <div class="div_plus_saved">
                            <a href="{% url 'en_aboruds_savatga' market.id %}" style="margin-right: 20px;">
                                {% if market.sklad %}
                                <img class="img_minus" src="../../media/images/minus-sign-icon-free-png.webp" alt="minus" style="width: 31px ; height: 31px; border: none; margin-left: 5px; margin-top:2px;">
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 48 48">
                                    <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                                    <path fill="#fff" d="M21,14h6v20h-6V14z"></path>
                                    <path fill="#fff" d="M14,21h20v6H14V21z"></path>
                                </svg>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for market in search_objs %}
                    {% if market.group_lang == 'en' %}
                    <div class="main-div">
                        {% if market.photo.url != null %}
                        <div style="width: 100%; height: 290px;">
                            <a href="#" style="color: black; text-decoration: none;"><img style="width: 100%; height: 100%; border-radius: 10px;" src="{{market.photo.url}}" alt=""></a>
                        </div>
                        {% endif %}
                        <h4 style="margin-top: 10px;">Name: {{market.title}}</h4>
                        <p>Brand: {{market.markasi}}</p>
                        <span>Price: {{market.body}}</span>
                        <div style=" margin-left: 210px; margin-top: -41px; width: 70px; display: flex;">
                            <a href="{% url 'en_kimdirda_1' market.id %}" style="margin-left: 40px;">
                                {% if market.sklad %}
                                <img class="img_minus" src="../../media/images/minus-sign-icon-free-png.webp" alt="minus" style="width: 31px ; height: 31px; border: none; margin-left: 5px; margin-top:2px;">
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 48 48">
                                    <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                                    <path fill="#fff" d="M21,14h6v20h-6V14z"></path>
                                    <path fill="#fff" d="M14,21h20v6H14V21z"></path>
                                </svg>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for market in search_objsm %}
                    {% if market.group_lang == 'en' %}
                    <div class="main-div">
                        {% if market.photo.url != null %}
                        <div style="width: 100%; height: 290px;">
                            <a href="#" style="color: black; text-decoration: none;"><img style="width: 100%; height: 100%; border-radius: 10px;" src="{{market.photo.url}}" alt=""></a>
                        </div>
                        {% endif %}
                        <h4 style="margin-top: 10px;">Name: {{market.title}}</h4>
                        <p>Thickness: {{market.qalinligi}}</p>
                        <p>Size: {{market.razmeri}}</p>
                        <span>Price: {{market.body}}</span>
                        <div style=" margin-left: 210px; margin-top: -41px; width: 70px; display: flex;">
                            <a href="{% url 'en_mahsulot_savatga' market.id %}" style="margin-left: 40px;">
                                {% if market.sklad %}
                                <img class="img_minus" src="../../media/images/minus-sign-icon-free-png.webp" alt="minus" style="width: 31px ; height: 31px; border: none; margin-left: 5px; margin-top:2px;">
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 48 48">
                                    <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                                    <path fill="#fff" d="M21,14h6v20h-6V14z"></path>
                                    <path fill="#fff" d="M14,21h20v6H14V21z"></path>
                                </svg>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>



</div>








<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">
            {% for article in search_obj %}
            <div class="col-md-4">
                <div class="card">
                    {% if article.photo.url != null %}
                    <img class="card-img-top" src="{{article.photo.url}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">{{article.body}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
            {% empty %}
             So'ralgan "{{query}}" bo'yicha hech narsa topilmadi</h1>
            {% endfor %}
        </div>
    </div>

</div> -->

{% endblock content %}
