 {% extends 'base.html' %}

{% block content %}

<style>

    .bar{
    background: url(https://c4.wallpaperflare.com/wallpaper/405/151/750/light-wall-background-hd-wallpaper-preview.jpg), rgba(0, 0, 0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.bar h2{
    font-weight: bold;
    font-size: 50px;
    padding-top: 170px;
    padding-bottom: 25px;
}
.bar input{
    height: 40px;
    width: 400px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid red;
    outline: none;
}
.bar input:placeholder-shown{
    text-align: center;
}
.bar button{
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid;
    transition: all 300ms;
    background-color: red;
    border-color: darkred;
    margin: 10px 0 130px 0;
}
.bar button a{
    color: white;
    text-decoration: none;
}
.bar button:hover{
    background-color: rgba(165, 42, 42, 0.753);
}
.main-div-box{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 20px;
margin: 50px 0 50px 0;
}
.main-div{
color: white;
width: 320px;
border-radius: 10px;
background-color: #004b23;
padding: 10px;
position: relative;
}
.Tanlanganlar{
    text-align: center;
    padding-top: 80px; 
    font-size: 40px;
}
.main-div:hover{
box-shadow: 0 0 10px 2px;
transition: 0.5s;
}
.main-div img{
width: 100%;
border-radius: 10px;
}
.main-container{
margin: 0 auto;
width: 96%;
display: block;
}
.nimadir_a{
    margin-left: 15px;
}
@media screen and (max-width: 400px) and (min-width: 100px){    
    .nimadir_a{
        margin-left: 5px;
    }
}
@media screen and (max-width: 450px) and (min-width: 100px){    
    .Tanlanganlar{
        text-align: center;
        padding-top: 80px; 
        font-size: 28px;
    }
}
</style>
<h1 class="Tanlanganlar">Tanlanganlar</h1>
<main>
    
    <div class="container">
        <div class="main-container">
            <div class="main-div-box">
              {% for market in saved %}
                {% if market.group_lang == 'uz' %}
                <div class="main-div">
                    {% if market.photo.url != null %}
                    <div  style="width: 100%; height: 300px;">
                        <a href="{% url 'market_detail' market.pk %}" style="color: black; text-decoration: none;"><img style="width: 100%; height: 100%; border-radius: 10px;" src="{{market.photo.url}}" alt=""></a>
                    </div>
                   {% endif %}
                      <h4 style="margin-top: 10px;">Nomi: {{market.title}}</h4>
                      <p>Davlati: {{market.country}}</p>
                      <p>Markasi: {{market.rangi}}</p>
                      <p>Sastayanasi: {{market.holati}}</p>
                      <span>Narxi: {{market.body}}</span>
                      <!-- <span>kdsjhnkd: {{market.saved}}</span> -->
                      <div style=" margin-left: 210px; margin-top: -41px; width: 70px; display: flex;">
                          <a href="{% url 'kimdirda' market.id %}" class="nimadir_a">
                              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 48 48">
                                  <path fill="#4caf50" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#fff" d="M21,14h6v20h-6V14z"></path><path fill="#fff" d="M14,21h20v6H14V21z"></path>
                              </svg>     
                          </a>
                          <a href="{% url 'minussaved' market.id %}"style="border: none; background: none;">
                              <img class="img_minus" src="../media/images/minus-sign-icon-free-png.webp" alt="minus" style="width: 31px ; height: 31px; border: none; margin-left: 5px; margin-top:2px; 
                              ">
                          </a>
       
                      </div>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</main>



{% endblock content %}